In [126]:
#import dependency
import pandas as pd
from bs4 import BeautifulSoup, SoupStrainer
import requests
import numpy as np
import requests
import json

# Google API Key
from config import gkey

In [120]:
#read csv file
books_df = pd.read_csv("bestsellers.csv")

In [122]:
# counting the unique values in the data
popular_title.nunique()

#total 96 distinct books, 90 authors

Name           96
Author         90
User Rating    11
Reviews        97
Price          26
Year           10
Genre           2
dtype: int64

In [199]:
#counting the books written by particular author in descending order
count_authors_df = books_df.groupby("Author").count()
famous_authors_count_df = count_authors_df.sort_values("Name", ascending = False)
famous_authors_count_df.head(10)

,Name,User Rating,Reviews,Price,Year,Genre
Author,,,,,,
Jeff Kinney,12,12,12,12,12,12
Gary Chapman,11,11,11,11,11,11
Suzanne Collins,11,11,11,11,11,11
Rick Riordan,11,11,11,11,11,11
American Psychological Association,10,10,10,10,10,10
Gallup,9,9,9,9,9,9
Dr. Seuss,9,9,9,9,9,9
Rob Elliott,8,8,8,8,8,8
Eric Carle,7,7,7,7,7,7
Bill O'Reilly,7,7,7,7,7,7

In [198]:
# books in order of reveiw rating
ratings_df = books_df.sort_values("User Rating", ascending = False)
ratings_df.head(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre
431,The Magnolia Story,Chip Gaines,4.9,7861,5,2016,Non Fiction
87,Dog Man: Lord of the Fleas: From the Creator o...,Dav Pilkey,4.9,5470,6,2018,Fiction
85,Dog Man: Fetch-22: From the Creator of Captain...,Dav Pilkey,4.9,12619,8,2019,Fiction
84,Dog Man: Brawl of the Wild: From the Creator o...,Dav Pilkey,4.9,7235,4,2019,Fiction
83,Dog Man: Brawl of the Wild: From the Creator o...,Dav Pilkey,4.9,7235,4,2018,Fiction
82,Dog Man: A Tale of Two Kitties: From the Creat...,Dav Pilkey,4.9,4786,8,2017,Fiction
81,Dog Man and Cat Kid: From the Creator of Capta...,Dav Pilkey,4.9,5062,6,2018,Fiction
252,"Oh, the Places You'll Go!",Dr. Seuss,4.9,21834,8,2019,Fiction
476,The Very Hungry Caterpillar,Eric Carle,4.9,19546,5,2013,Fiction
477,The Very Hungry Caterpillar,Eric Carle,4.9,19546,5,2014,Fiction

In [204]:
# authors in order of review rating
grouped_author_df = books_df.groupby("Author")
author_ratings_df

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [151]:
# getting all the authors and titles from the data
all_authors = []
all_titles = []
for author in books_df:
    author = books_df["Author"]
    title = books_df["Name"]
    all_authors.append(author)
    all_titles.append(title)