In [1]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

In [2]:
#import dependency
import pandas as pd
from bs4 import BeautifulSoup, SoupStrainer
import requests
import numpy as np
import requests
import json
import psycopg2
from sqlalchemy import create_engine

In [4]:
# DataFrame to load csv file to postgres tables
bestsellers_df = pd.read_csv("../RawData/bestsellers.csv")

In [5]:
authors_table = []
author_id = 101
books_table = []
book_id = 1001
books_details = []
# first_time = True;
for rows in bestsellers_df.index:

    if  any(d['author_name'] == bestsellers_df['Author'][rows] for d in authors_table):
        continue;
    else:
        authors_table.append({'author_id': author_id, 
                              'author_name' : bestsellers_df['Author'][rows]});
    books_table.append({'book_id': book_id, 
                        'book_name' : bestsellers_df['Name'][rows],
                        'author_id':author_id});
    books_details.append({'book_id': book_id, 
                          'rating': bestsellers_df['User Rating'][rows],
                          'reviews' : bestsellers_df['Reviews'][rows], 
                          'price': bestsellers_df['Price'][rows],
                          'year': bestsellers_df['Year'][rows],
                          'genre': bestsellers_df['Genre'][rows]});
    book_id = book_id + 1;
    author_id = author_id + 1;

In [6]:
authors_df = pd.DataFrame(authors_table)
books_df = pd.DataFrame(books_table)
books_details_df = pd.DataFrame(books_details)

In [9]:
# Database Setup
connection = psycopg2.connect(user = "postgres",
                                  password = "Isla",
                                  host = "127.0.0.1",
                                  port = "5432",
                                  database = "books")
db_string = "postgres://postgres:Isla@localhost:5432/books"
engine = connection.cursor()
db = create_engine(db_string)

In [10]:
#Load authors/Books data/Books Details Data
authors_df.to_sql(name='authors', con=db, if_exists='append', index=False);
books_df.to_sql(name='books', con=db, if_exists='append', index=False);
books_details_df.to_sql(name='books_details', con=db, if_exists='append', index=False);

In [11]:
book_query_df= pd.read_sql_query('''SELECT * FROM books''',db)

In [12]:
book_query_df

     book_id                                          book_name  author_id
0       1001                      10-Day Green Smoothie Cleanse        101
1       1002                                  11/22/63: A Novel        102
2       1003            12 Rules for Life: An Antidote to Chaos        103
3       1004                             1984 (Signet Classics)        104
4       1005  5,000 Awesome Facts (About Everything!) (Natio...        105
..       ...                                                ...        ...
243     1244  Wild: From Lost to Found on the Pacific Crest ...        344
244     1245  Winter of the World: Book Two of the Century T...        345
245     1246  Women Food and God: An Unexpected Path to Almo...        346
246     1247                                             Wonder        347
247     1248  You Are a Badass: How to Stop Doubting Your Gr...        348

[248 rows x 3 columns]

In [13]:
author_query_df= pd.read_sql_query('''SELECT * FROM authors''',db)
author_query_df

     author_id               author_name
0          101                  JJ Smith
1          102              Stephen King
2          103        Jordan B. Peterson
3          104             George Orwell
4          105  National Geographic Kids
..         ...                       ...
243        344            Cheryl Strayed
244        345               Ken Follett
245        346               Geneen Roth
246        347             R. J. Palacio
247        348               Jen Sincero

[248 rows x 2 columns]