In [6]:
#import dependency
import pandas as pd
from bs4 import BeautifulSoup, SoupStrainer
import requests
import numpy as np
import requests
import json

In [7]:
#read csv file
books_df = pd.read_csv("bestsellers.csv")

In [13]:
#counting the books written by particular author in descending order
count_authors_df = books_df.groupby("Author").count()
famous_authors_count_df = count_authors_df.sort_values("Name", ascending = False)
famous_authors_count_df.head(10)

                                    Name  Rating  Reviews  Price  Year  Genre
Author
Jeff Kinney                           12      12       12     12    12     12
Gary Chapman                          11      11       11     11    11     11
Suzanne Collins                       11      11       11     11    11     11
Rick Riordan                          11      11       11     11    11     11
American Psychological Association    10      10       10     10    10     10
Gallup                                 9       9        9      9     9      9
Dr. Seuss                              9       9        9      9     9      9
Rob Elliott                            8       8        8      8     8      8
Eric Carle                             7       7        7      7     7      7
Bill O'Reilly                          7       7        7      7     7      7

In [14]:
count_authors_df["Author"]

KeyError: 'Author'

In [5]:
# books in order of reveiw rating
ratings_df = books_df.sort_values("User Rating", ascending = False)
ratings_df.head(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre
431,The Magnolia Story,Chip Gaines,4.9,7861,5,2016,Non Fiction
87,Dog Man: Lord of the Fleas: From the Creator o...,Dav Pilkey,4.9,5470,6,2018,Fiction
85,Dog Man: Fetch-22: From the Creator of Captain...,Dav Pilkey,4.9,12619,8,2019,Fiction
84,Dog Man: Brawl of the Wild: From the Creator o...,Dav Pilkey,4.9,7235,4,2019,Fiction
83,Dog Man: Brawl of the Wild: From the Creator o...,Dav Pilkey,4.9,7235,4,2018,Fiction
82,Dog Man: A Tale of Two Kitties: From the Creat...,Dav Pilkey,4.9,4786,8,2017,Fiction
81,Dog Man and Cat Kid: From the Creator of Capta...,Dav Pilkey,4.9,5062,6,2018,Fiction
252,"Oh, the Places You'll Go!",Dr. Seuss,4.9,21834,8,2019,Fiction
476,The Very Hungry Caterpillar,Eric Carle,4.9,19546,5,2013,Fiction
477,The Very Hungry Caterpillar,Eric Carle,4.9,19546,5,2014,Fiction

In [6]:
# authors in order of review rating
grouped_author_df = books_df.groupby("Author").mean("User Rating")
high_ratings_df = grouped_author_df.sort_values("User Rating", ascending = False)
high_ratings_df.head(10)

                       User Rating  Reviews  Price    Year
Author
Jill Twiss                     4.9  11881.0   13.0  2018.0
Nathan W. Pyle                 4.9   9382.0    6.0  2019.0
Chip Gaines                    4.9   7861.0    5.0  2016.0
Rush Limbaugh                  4.9   5493.0   12.0  2013.5
Bill Martin Jr.                4.9  14344.0    5.0  2018.0
Emily Winfield Martin          4.9   8842.0   10.0  2017.5
Pete Souza                     4.9   3192.0   22.0  2017.0
Patrick Thorpe                 4.9   5396.0   20.0  2013.0
Lin-Manuel Miranda             4.9   5867.0   54.0  2016.0
Sherri Duskey Rinker           4.9   7038.0    7.0  2012.5

In [12]:
#renaming the columns
renamed_df = books_df.rename(columns = {"User Rating": "Rating"})
renamed_df.to_csv("new_books.csv")

In [8]:
# getting all the authors and titles from the data
all_authors = []
all_titles = []
for author in books_df:
    author = books_df["Author"]
    title = books_df["Name"]
    all_authors.append(author)
    all_titles.append(title)